#p1{
    background-color: #20B2AA;
    color: #FAF0E6;
    font-weight: bold;
    font-size: 2em;
    font-family: "Times New Roman",Georgia,Serif;
}

h1{
    font-family: "Times New Roman",Georgia,Serif;
    background-color: #3CB371;
}